{% extends 'AcmeStoreBundle::layout.html.twig' %}
{% block title %}MANAGE LIST  AGENDA{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="con_int">
<span class="super">	
    LLISTAT DE GALERIA
</span>
<br>
    	{% if pagination|length >0 %}
		<table class="table_admin">
			<tr>
				<th>Filtrar per: </th>
				<th><input class="filter" placeholder="Titol" type="text" value="" id="titol" onblur="search(this.id,this.value)" /></th>
				<th><input class="filter" placeholder="Subtitol" type="text" id="description" value="" onblur="search(this.id,this.value)" /></th>
				
			</tr>
                         <tr>
                            <th>Foto</th>
                            <th>Data entrada</th>
                            <th>Titol</th>
                            <th>Subtitol</th>
                            <th>Descripció</th>
                         </tr>

    		{% for galeria in pagination %}
    
		
		<tr>
			<td>
			<img width="50px" src="{{path}}{{ galeria.attachment}}" /> 	
			</td>
			<td width=100px;>
			{{ galeria.dataEntrada|date('Y-m-d')}}	
			</td>
			<td width=300px;>
			{{ galeria.titol}}	
			</td>
			<td width=300px;>
			{{ galeria.subtitol}}	
			</td>
			<td>
			 {{ galeria.description}}	
			</td>
			<td width=30px;>
			<a href="{{ path('edit_galeria', {'id' : galeria.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/edit.png') }}" /> </a>	
			</td>
			<td>
			<a href="{{ path('delete_galeria', {'id' : galeria.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/delete.png') }}" /></a>	
			</td>
			</tr>
		{% endfor %}
    		<tr>
    		<td>
    		
		</td>
		<td>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
		</td>
		</tr>
		</table>
		
		
    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
    </div>
	</div>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       <script>
	
	
	
function search(col,val){
	var path="{{pathlocal}}";
	window.localStorage.setItem('val_'+col,val);
	window.location.href=path+"/admin/secured/galeria/galeria_llistat/n."+col+" like .."+val+".,";
}
var titolval=window.localStorage.getItem('val_titol');
var subtitolval=window.localStorage.getItem('val_description');
if(titolval!=null){
	document.getElementById('titol').value=titolval;
}

if(subtitolval!=null){
	document.getElementById('description').value=descriptionval;
}
</script>
{% endblock %}
