{% extends 'AcmeStoreBundle::layout.html.twig' %}
{% block title %}MANAGE LIST  AGENDA{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="con_int">
<span class="super">	
    LLISTAT DE PDF
</span>
<br>
    	{% if pagination|length >0 %}
		<table class="table_admin">
			
                         <tr>
                            <th>Foto</th>
                            <th>link</th>
                         
                         </tr>

    		{% for addpdf in pagination %}
    
		
		<tr>
			<td>
			<img width="50px" src="{{path}}{{ addpdf.attachment}}" /> 	
			</td>
                        <td>
			{{path}}{{ addpdf.attachment}}
			</td>
                         <td>
                           
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                            width="110"
                            height="14"
                            id="clippy" >
                            <param name="movie" value="/flash/clippy.swf"/>
                            <param name="allowScriptAccess" value="always" />
                            <param name="quality" value="high" />
                            <param name="scale" value="noscale" />
                            <param NAME="FlashVars" value="text=#{text}">
                            <param name="bgcolor" value="#{bgcolor}">
                            <embed src="{{ asset('bundles/acmestore/js/clippy.swf') }}"
                            width="110"
                            height="14"
                            name="clippy"
                            quality="high"
                            allowScriptAccess="always"
                            type="application/x-shockwave-flash"
                            pluginspage="http://www.macromedia.com/go/getflashplayer"
                            FlashVars="text={{path}}{{ addpdf.attachment}}"
                            bgcolor="#f5f5f5"
                            />
                        </object>
			</td>
			<td width=30px;>
			<a href="{{ path('edit_addpdf', {'id' : addpdf.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/edit.png') }}" /> </a>	
			</td>
			<td>
			<a href="{{ path('delete_addpdf', {'id' : addpdf.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/delete.png') }}" /></a>	
			</td>
			</tr>
		{% endfor %}
    		<tr>
    		<td>
    		
		</td>
		<td>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
		</td>
		</tr>
		</table>
		
		
    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
    </div>
	</div>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
    
{% endblock %}
