<div class="content">
    
	<div class="tit">
   		LLIBRERIA 22 
		</div>
	</div>
	<div id="content">
   	<div id='cssmenu'>
	<ul>
	   <li class='has-sub'><a href="{{ path('llistat_store_noticia', {orderBy:'1=1 order by n.id asc'}) }}" >Notícies</a>
	      <ul>
		 <li class='last'><a href="{{ path('acme_pre_store_noticia', {}) }}" >Nova notícia</a></li>
	      </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_suggerencia', {orderBy:'1=1 order by n.id asc'}) }}" >Suggerències</a>
	    <ul>
		<li class='last'><a href="{{ path('acme_pre_store_suggerencia', {}) }}" >Nova Suggerència</a></li>
	    </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_presentacio', {orderBy:'1=1 order by n.id asc'}) }}" >Presentació</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_presentacio', {}) }}" >Nova presentació</a></li>
	   </ul>
	   
	   </li>
	   
	   <li class='has-sub'><a href="{{ path('llistat_store_agenda', {orderBy:'1=1 order by n.id asc'}) }}" >Aparador</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_agenda', {}) }}" >Afegir aparador</a></li>
	   </ul>
	   
	   </li>
	   
	   
	   <li class='has-sub'><a href="{{ path('edit_establiments') }}" >establiments</a></li>
           <li class='has-sub'><a href="{{ path('llistat_store_foto', {orderBy:'1=1 order by n.id asc'}) }}" >Foto Establiments</a>
            <ul>
                 <li class='last'><a href="{{ path('acme_pre_store_foto', {}) }}" >Nova Foto a Establiments</a></li>
            </ul>
	   </li>
           
	   
	   <li class='has-sub'><a href="{{ path('llistat_store_afegir', {orderBy:'1=1 order by n.id asc'}) }}" >Sugerencia pagina demana</a>
                <ul>
                     <li class='last'><a href="{{ path('acme_pre_store_afegir', {}) }}" >afegir suggerència a demana</a></li>
                </ul>
	   </li>
	   
	   
	   <li class='has-sub'><a href="{{ path('llistat_store_galeria', {orderBy:'1=1 order by n.id asc'}) }}" >Galeria</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_galeria', {}) }}" >Nova galeria</a></li>
	   </ul>
	   </li>
	   <li><a href="{{ path('acme_encarrecs', {}) }}" >Encarrecs</a></li>
	   <li><a href="{{ path('acme_pre_puja_txt', {}) }}" >Upload</a></li>
	   <li class='has-sub'><a href="{{ path('llistat_store_slider', {orderBy:'1=1 order by n.id asc'}) }}" >Slider</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_slider', {}) }}" >Nou slider</a></li>
	   </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_llibre', {orderBy:'1=1 order by n.id asc'}) }}" >LLibres</a>
	   <ul>
		<li><a href="{{ path('acme_pre_store_llibre', {}) }}" >Nou llibre</a></li>
	   </ul>
	   </li>
           
           <li class='has-sub'><a href="{{ path('llistat_store_addpdf', {orderBy:'1=1 order by n.id asc'}) }}" >Pdf</a>
	   <ul>
		<li><a href="{{ path('acme_pre_store_addpdf', {}) }}" >Afegir pdf</a></li>
	   </ul>
	   </li>
	</ul>
	</div>
	
	