{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}MANAGE LIST  NOTICIA{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="content">
	<div class="tit">
   		LLIBRERIA 22 
		</div>
	</div>
	<div id="content">
   	<div id='cssmenu'>
	<ul>
	   <li class='has-sub'><a href="{{ path('llistat_store_noticia', {orderBy:'1=1 order by n.id asc'}) }}" >Notícies</a>
	      <ul>
		 <li class='last'><a href="{{ path('acme_pre_store_noticia', {}) }}" >{% trans %}enter_noticia{% endtrans %}</a></li>
	      </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_suggerencia', {orderBy:'1=1 order by n.id asc'}) }}" >Suggerències</a>
	    <ul>
		<li class='last'><a href="{{ path('acme_pre_store_suggerencia', {}) }}" >{% trans %}new_sugg{% endtrans %}</a></li>
	    </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_presentacio', {orderBy:'1=1 order by n.id asc'}) }}" >Presentació</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_presentacio', {}) }}" >{% trans %}enter_presentacio{% endtrans %}</a></li>
	   </ul>
	   
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_galeria', {orderBy:'1=1 order by n.id asc'}) }}" >Galeria</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_galeria', {}) }}" >{% trans %}enter_galeria{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li><a href="{{ path('acme_encarrecs', {}) }}" >Encarrecs</a></li>
	   <li><a href="{{ path('acme_pre_puja_txt', {}) }}" >Upload</a></li>
	   <li class='has-sub'><a href="{{ path('llistat_store_slider', {orderBy:'1=1 order by n.id asc'}) }}" >Slider</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_slider', {}) }}" >{% trans %}enter_slider{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li class='has-sub active'><a href="{{ path('llistat_store_llibre', {orderBy:'1=1 order by n.id asc'}) }}" >LLibres</a>
	   <ul>
		<li><a href="{{ path('acme_pre_store_llibre', {}) }}" >{% trans %}enter_llibre{% endtrans %}</a></li>
	   </ul>
	   </li>
	</ul>
	</div>
	
	<div class="con_int">
	<span class="super">	
    LLISTAT DE SLIDERS
	</span>
    <br>
    	{% if pagination|length >0 %}
    		<table class="table_admin">
    		
    		{% for slider in pagination %}
	
    		
		<tr>
			<td>
			 <img width=150px" src="{{path}}{{ slider.attachment}}" /> 	
			</td>
			<td width=300px;>
			{{ slider.description}}	
			</td>
			<td width=30px;>
			<a href="{{ path('edit_slider', {'id' : slider.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/edit.png') }}" /> </a>	
			</td>
			<td>
			<a href="{{ path('delete_slider', {'id' : slider.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/delete.png') }}" /></a>	
			</td>
			</tr>
		
		
		
		
		
		
		{% endfor %}
    		<tr>
    		<td>
    		
		</td>
		<td>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
		</td>
		</tr>
		</table>
    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
	</div>
	</div>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       <script>
function search(col,val){
	var path="{{pathlocal}}";
	window.localStorage.setItem('val_'+col,val);
	window.location.href=path+"/admin/secured/noticia/noticia_llistat/n."+col+" like .."+val+".,";
}
var titolval=window.localStorage.getItem('val_titol');
var subtitolval=window.localStorage.getItem('val_subtitol');
if(titolval!=null){
	document.getElementById('titol').value=titolval;
}

if(subtitolval!=null){
	document.getElementById('subtitol').value=subtitolval;
}
</script>
{% endblock %}
