{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}
{% block title %}Llibreria 22@{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<div class="contentnot">
    <div class="tit_fixN">
        {% trans %}f_busca_llibre_title{% endtrans %}
    </div>
    <div class="res_el">
    <div class="recer_int">
        {% trans %}f_busca_llibre_desc{% endtrans %}
    </div>
    </div>
    <div class="pres_el_res">
        <div class="recer_int">
                {% trans %}f_mots_acerca{% endtrans %}<br>
                <div id="search_bar">
                    <input class="inputs_cer" id="cercainput" type="text">
                </div>
                <div id="b_search" onclick="search()">
                    <img src="{{ asset('bundles/acmestore/img/search2.png') }}" />
                </div>
                <select id="seleccionables">
                    <option value="1)">Generica</option>
                    <option value="2)">Titol</option>
                    <option value="3)">Autor</option>
                    <option value="4)">Editorial</option>
                  </select>
                <p>Intrudueix un(s) mot(s) significatiu(s) al quadret de recerca (per exemple el nom d'un autor o d'un llibre) tria si vols fer una cerca per titol, autor o editorial i clica "Cercar".</p>
                <span class="ce">Fent clic al botó “Demana’l”, podràs demanar que et portin el llibre a casa teva.<br>
 Rebràs un correu en que us informaren dels costos d’enviament i la manera de fer el pagament. </span>
        </div>
    </div>
    <div class="not_el">
                    <div id="int_res">
				{% trans %}f_busca_llibre_resultats{% endtrans %} {{cerca}}{% trans %}f_busca_llibre_resultats_2{% endtrans %} {{numresultats}} {% trans %}f_busca_llibre_resultats_3{% endtrans %}<br>
                                
                                <table border="1">
                                <tr>
                                    <th>
				<div id="name" class="cerca_tot activitat ">{% trans %}f_busca_llibre_titol{% endtrans %}</div>
                                        </th>
                                        <th>
				<div id="autor" class="cerca_tot ">{% trans %}f_busca_llibre_autor{% endtrans %}</div>
                                            </th>
                                            <th>
				<div id="editorial" class="cerca_tot">{% trans %}f_busca_llibre_editorial{% endtrans %}</div>
                                                </th>
                                                <th>
				{% trans %}f_busca_llibre_preu{% endtrans %}
                                                    </th>

                                                </tr>
				{% if pagination|length >0 %}
				{% for llibre in pagination %}
                                                <tr class="text">
                                                    <td class="sug_cell_rescerca c1">{{ llibre.name}}</td>
                                                    <td class="sug_cell_rescerca c2">{{ llibre.autor}}</td>
                                                    <td class="sug_cell_rescerca c3">{{ llibre.editorial}}</td>
                                                    <td class="sug_cell_rescerca c4">{{ llibre.price}} &euro;</td>
                                                    <td class="sug_cell_rescerca c5" onclick="demanaLlibre({{llibre.id}}, '{{llibre.ean}}')">{% trans %}f_busca_llibre_demana{% endtrans %}</td>
                                                </tr>								
				{% endfor %}
                            </table>



                                            <div class="pagerfanta" >
	    			{{knp_pagination_render(pagination)}}
                                                </div>
                                            </div>
                                        
		    	{% else %}
        
                                <table border="1">
                                <tr>
                                    <th>
				{% trans %}f_busca_llibre_titol{% endtrans %}
                                        </th>
                                        <th>
				{% trans %}f_busca_llibre_autor{% endtrans %}
                                            </th>
                                            <th>
				{% trans %}f_busca_llibre_editorial{% endtrans %}
                                                </th>
                                                <th>
				{% trans %}f_busca_llibre_preu{% endtrans %}
                                                    </th>

                                                </tr>
                                                <tr class="text">
                                                    <td class="sug_cell_rescerca c1">....</td>
                                                    <td class="sug_cell_rescerca c2">....</td>
                                                    <td class="sug_cell_rescerca c3">....</td>
                                                    <td class="sug_cell_rescerca c4">.....</td>
                                                </tr>								
                                </table>
  </div>
        
        
        
        
        
        
        
		    	{% endif %}</div>

                                        <div class="not_el sugg">
                                            <div>Suggeriments de la setmana<br>Clicka sobre la imatge del llibre per accedir a la fitxa i comprar contra reemborsament / transferència bancaria.<br>Rebràs un correu en que us informaren dels costos d’enviament i la manera de fer el pagament.</div>
			{% if paginationafegir|length >0 %}
				{% for coca in paginationafegir %}
                                            <div class="total">
                                    {% if  coca.attachment!='aaa' %}

                                                    <table class="tablesuger" border="1">
                                                        <tr>
                                                            <th>
                                            {% set  pp = path~coca.attachment%}
                                            {% if image(pp).width > image(pp).height %}
                                                                    <a href="{{coca.link}}"> <img  width="146px" height="auto" src="{{path}}{{ coca.attachment}}" /></a>
                                               {% else%}
                                                                        <a href="{{coca.link}}">   <img  width="auto" height="170px" src="{{path}}{{ coca.attachment}}" /></a>
                                            {% endif%}


                                                                        </th>
                                                                    </tr>
                                                                </table>
                                    {% endif %}
                                                                <div>
                                                                    <div class="titol">
                                                    {{ coca.name}}
                                                                        </div>
                                                                        <div class="texte">
                                                                            <p>{{ coca.description}}</p>
                                                                        </div>											
                                                                    </div>
                                                                </div>	

				{% endfor %}
                                                                </table>



                                                                <div class="pagerfanta" >
	    			{{knp_pagination_render(paginationafegir)}}
                                                                    </div>
                                                                </div>
                                                            </div>
		    	{% else %}
                                                            <p>{% trans %}f_no_things{% endtrans %}</p>
		    	{% endif %}
                                                        </div>

                                                        <script>
                                                        $('li').removeClass('active');
                                                        $('#buscallibreli').addClass('active');
                                                        $('.cerca_tot').removeClass('activitat');
                                                        $('#{{tipus}}').addClass('activitat');
                                                        var path = "{{pathlocal}}";
                                                        function demanaLlibre(id, ean) {
                                                            window.location.href = path + "/llibreria22/demanaLlibre/" + id + "/" + ean;
                                                        }

                                                        $("#cercainput").on("keyup", function(e) {
                                                            if (e.which == 13) {

                                                                var val = document.getElementById("cercainput").value;
                                                                window.localStorage.setItem('cercar', val);
                                                               var seleccio=document.getElementById("seleccionables").value;
                                                            
                                                            window.location.href = path + "/llibreria22/buscaLlibre/" + seleccio + val;
                                                            }
                                                        });
                                                        function search() {

                                                            var val = document.getElementById("cercainput").value;
                                                            window.localStorage.setItem('cercar', val);
                                                            var seleccio=document.getElementById("seleccionables").value;
                                                            
                                                            window.location.href = path + "/llibreria22/buscaLlibre/" + seleccio + val;
                                                            
                                                            
                                                            
                                                        }
                                                        
                                                      
                                                        
                                                        
                                                            </script>
{% endblock %}
