{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}
{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

		<div class="contentnot">
			<div class="tit_fixN">
				{% trans %}f_demana_llibre_title{% endtrans %}
			</div>
			
			<div class="res_el">
				<div class="recer_int">
				{% if pagination|length >0 %}
				{% for llibre in pagination %}
					{% trans %}f_llibre_demanat{% endtrans %}<br>
					<ul>
						<li>{% trans %}f_busca_llibre_titol{% endtrans %}   <br>{{ llibre.name}}</li>
						<li>{% trans %}f_busca_llibre_autor{% endtrans %}   <br>{{ llibre.autor}}</li>
						<li>{% trans %}f_busca_llibre_editorial{% endtrans %}   <br>{{ llibre.editorial}}</li>
						<li>{% trans %}f_busca_llibre_preu{% endtrans %}   <br>{{ llibre.price}} &euro;</li>
						<li>{% trans %}f_demana_llibre_preu_desc{% endtrans %}</li>
					</ul>
				{% endfor %}
				{% endif %}
				</div>
			</div>
			<div class="pres_el_res">
				<div class="recer_int">
				{% trans %}f_mots_acerca{% endtrans %}<br>
				<div id="search_bar">
					<input class="inputs_cer" id="cercainput" type="text">
				</div>
					<div id="b_search" onclick="search()">
				</div>
				<span class="ce">{% trans %}f_busca_llibre_clic{% endtrans %}</span>
				<div>
				{{ form_start(form) }} 
    				{{ form_errors(form) }}
		    			<div> {% trans %}f_busca_llibre_nom_client{% endtrans %}{{ form_label(form.name,' ') }} 
		    			      {{ form_errors(form.name) }} 
		    			      {{ form_widget(form.name, {}) }}
		    			</div>
		    			<div> {% trans %}f_busca_llibre_poble_client{% endtrans %}{{ form_label(form.poblacio,' ') }} 
		    			      {{ form_errors(form.poblacio) }} 
		    			      {{ form_widget(form.poblacio, {}) }}
		    			</div>
		    			<div> {% trans %}f_busca_llibre_adreca_client{% endtrans %}{{ form_label(form.adreca,' ') }} 
		    			      {{ form_errors(form.adreca) }} 
		    			      {{ form_widget(form.adreca, {}) }}
		    			</div>
		    			<div> {% trans %}f_busca_llibre_codipostal_client{% endtrans %}{{ form_label(form.codi,' ') }} 
		    			      {{ form_errors(form.codi) }} 
		    			      {{ form_widget(form.codi, {}) }}
		    			</div>
		    			<div> {% trans %}f_busca_llibre_email_client{% endtrans %}{{ form_label(form.email,' ') }} 
		    			      {{ form_errors(form.email) }} 
		    			      {{ form_widget(form.email, {}) }}
		    			</div>
		    			<div> {% trans %}f_busca_llibre_tel_client{% endtrans %}{{ form_label(form.tel,' ') }} 
		    			      {{ form_errors(form.tel) }} 
		    			      {{ form_widget(form.tel, {}) }}
		    			</div>
		    			<div style="visibility: hidden;"> {{ form_label(form.llibre,' ') }} 
		    			      {{ form_errors(form.llibre) }} 
		    			      {{ form_widget(form.llibre, {}) }}
		    			</div>
    			{{ form_end(form) }}
    			</div>
				</div>
			</div>
		    	<script>
		    	$('li').removeClass('active');
		    	$('#buscallibreli').addClass('active');
		    	function demanaLlibre(id){
		    		window.location.href=path+"/llibreria22/demanaLlibre/"+id;
		    	}
		    	function search(){
		    		var path="{{pathlocal}}";
		    		var val= document.getElementById("cercainput").value;
					window.localStorage.setItem('cercar',val);
					window.location.href=path+"/llibreria22/buscaLlibre/"+val;
		    	}		    			
		    	</script>
{% endblock %}
