{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}
{% block title %}Llibreria 22@{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

{# End contentnota #}
<div class="contentnot">
<div id="co" class="columns">
    <div class="container_historic">
        <div onclick="searchNoticies()" id="noti_his" class="historic_presen">
                   Noticies
        </div>
        <div onclick="searchPresentacio()" id="pres_his" class="historic_presen">
                   Presentacions
        </div>
            <div id="search_bar">
						<input class="inputs2" id="sesuatu2" type="text">
					</div>
					<div id="b_search2">
						<img src="{{ asset('bundles/acmestore/img/search.png') }}" />
					</div>
    </div>
    {% if pagination|length >0 %}
        {% for noticia in pagination %}
            <div class="historic">
                 <div class="">
                    <div class="seas sub_tit">
                  
                    {% if categoria == 'presentacio' %}
                            Presentació
                    {% endif %}
                            {% if categoria == 'noticia' %}
                            Noticia
                    {% endif %}
                   
                    
                </div>
                    <div class="historic_titol">
                        {{ noticia.titol|raw}}
                    </div>
                    <div>	
                        {{ noticia.subtitol|raw}}
                    </div>
             
                    <div>	
                    {{noticia.description|raw}}
                    </div>
                    <div class="bol">
                       
                        {% set daynum  = noticia.dataEntrada|date('l') %}
                        {% set day  = noticia.dataEntrada|date('j') %}
                        {% set month = noticia.dataEntrada|date('F') %}
                        {% set year = noticia.dataEntrada|date('Y') %}
                        {% trans %}f_publicat_el{% endtrans %} {{ '%s'|format( daynum|trans) }} {{ '%s'|format(day) }} {{ '%s %s'|format( month|trans,year) }}
                     </div>
                </div>
         </div>
       {% endfor %}
</div>
        <div class="pagerfanta" >
    {{knp_pagination_render(pagination)}}
</div>
</div>
{# End contentno #}

    {% else %}
    <p>{% trans %}f_no_things{% endtrans %}</p>
    {% endif %}
<script>
  $( "#b_search2" ).click(function() {
				var path="{{pathlocal}}";
				var sesuatu2 = document.getElementById("sesuatu2").value;
				window.localStorage.setItem('sesuatu2',sesuatu2);
			
				window.location.href=path+"/llibreria22/searchHistoric/"+sesuatu2;
  				
			});
$("#sesuatu2").on("keyup", function(e) {
    if (e.which == 13) {
        var path="{{pathlocal}}";
        var sesuatu = document.getElementById("sesuatu2").value;
        window.localStorage.setItem('sesuatu2',sesuatu);

        window.location.href=path+"/llibreria22/searchHistoric/"+sesuatu2;
       return false;



    }
});  
    
  $('li').removeClass('active');
  $('#historicli').addClass('active');
  $('#{{resaltat}}').removeClass('historic_presen_active');
  $('#{{resaltat}}').addClass('historic_presen_active');
  var path = "{{pathlocal}}";
  function searchPresentacio() {
    window.location.href = path + "/llibreria22/historic/presentacio";
  }
 function searchNoticies() {
    window.location.href = path + "/llibreria22/historic/noticia";
 }
</script>

{% endblock %}