{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}
{% block title %}Llibreria 22@{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
 <script type="text/javascript" src="{{ asset('bundles/acmestore/js/far.js') }}" ></script>
<div class="contentnota">
    <div class="contentnot">
<!--{% for locale in ['en', 'fr', 'es'] %}
            <li {% if locale == app.request.locale %}class="active"{% endif %}>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">{{ locale }}</a>
            </li>
    {% endfor %}-->
    <div class="leftdiv">
        {% if agenda|length >0 %}
	    	{% for agn in agenda %}
                    <div class="elem_main">
                         {{ agn.titol|raw}}
                         {{ agn.subtitol}}
			 {{ agn.description|raw}}
                         {% if  agn.attachment!='aaa' %}
                            <img src="{{path}}{{agn.tablePath}}/{{ agn.attachment}}" />   
                         {% endif %}
                    </div>
	    		{% endfor %}
	    		
	    	{% else %}
	    	 <p>- There are no things </p>
	    	{% endif %}
    	</div>
    	<div class="centerdiv">
    		{% if noticia|length >0 %}
	    		    			
	    		{% for noti in noticia %}
			<div class="elem_main">
	    	        <span class="tit_not">
			{{ noti.titol}}
			</span><br>
			<span class="sub_tit">
			{{ noti.subtitol}}
			</span><br>
			{% if  noti.attachment!='aaa' %}
							<img src="{{path}}{{ noti.tablePath}}/{{ noti.attachment}}" />   
			{% endif %}
			
			{{ noti.description}}
			
			
			
			
			</div>
	    		{% endfor %}
	    		
	    	{% else %}
	    	 <p>- There are no things </p>
	    	{% endif %}
    	</div>
	

    	<div class="rightdiv">
		<div id="scrollbar1">
		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
		<div class="viewport">
			 <div class="overview">
		
    	   {% if paginationPresentacio|length >0 %}
	    		    			
	    		{% for presentacio in paginationPresentacio %}
			<div class="ender">
			
			<div class="farl wit">
			{{ presentacio.dataEntrada|date('Y-m-d')}}
			</div>
			<div class="farl">
			{{ presentacio.lloc}}
			</div>
			<div class="farl titolmain">
	    		{{ presentacio.titol}}
			</div>
			<div class="farl">
			{{ presentacio.subtitol}}
			</div>
			<div class="farl des">
			{{ presentacio.description|raw}}
			</div>
			{% if  presentacio.attachment!='aaa' %}
							<img  src="{{path}}presentacio/{{ presentacio.attachment}}" />      
			{% endif %}
			
			<div class="farl des">
			{{ presentacio.intervindran}}
			</div>
			
			</div>
	    		{% endfor %}
	    		</div>
	</div></div>
		</div></div></div>
	    		<div class="pagerfanta" >
	    			{{knp_pagination_render(paginationPresentacio)}}
	    		</div>
	    	{% else %}
	    	 <p>- There are no things </p>
	    	{% endif %}
    	
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
	
	<script type="text/javascript">
    $(document).ready(function(){

        $('#scrollbar1').tinyscrollbar();

    });
</script>
	
	 
      
       
{% endblock %}
