{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}
{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

		<div class="contentnota">
			<div class="tit_fixN">
				{% trans %}f_presentacio_title{% endtrans %}
			</div>
			</div>
		<div class="contentnot">
			<div id="co" class="js-masonry"  data-masonry-options='{ "columnWidth": 10, "itemSelector": ".item" }'>
			{% if pagination|length >0 %}
				{% for presentacio in pagination %}
					<div class="not_el">
					<div class="not_int">
						<span class="tit_not">
							{{ presentacio.dataEntrada|date('j F Y')}}
							{{ presentacio.titol}}
						</span><br>
						<span class="sub_tit">
							{{ presentacio.subtitol}}
						</span><br>
						<p>{{ presentacio.description}} 	</p>
						<p><img id="img_{{ presentacio.id}}" src="{{path}}{{ presentacio.attachment}}" width="100px" /></p>
						<div class="not_fet">
							{% trans %}f_publicat_el{% endtrans %}{{ presentacio.dataEntrada|date('Y F jS')}}
						</div>
					
					</div>
					</div>
					
				{% endfor %}
			</div>
		</div>
	    		<div class="pagerfanta" >
	    			{{knp_pagination_render(pagination)}}
	    		</div>
		    	{% else %}
		    		 <p>{% trans %}f_no_things{% endtrans %}</p>
		    	{% endif %}
		    	<script>
		    		  $('li').removeClass('active');
		    		  $('#presentacioli').addClass('active');
		    	</script>
{% endblock %}
