{% extends 'AcmeStoreBundle::layoutFrontend.html.twig' %}
{% block title %}Llibreria 22@{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="contentnota">
    <div class="tit_fixN">
            Resultats
    </div>
</div>
<div class="contentnot">			
    <div id="co" class="columns">		
     {% if pagination|length >0 %}
        {% for search in pagination %}
           
                 <div class="item masonry-brick">
                 <div class="">
                      <div class="sea sub_tit tit_top">
                    {% if search.category == 'llibre' %}
                            Llibre
                    {% endif %}
                    {% if search.category == 'noticia' %}
                            Noticia
                    {% endif %}
                    {% if search.category == 'presentacio' %}
                            Presentacio
                    {% endif %}
                </div>
                    <div id="ies" class="tit_not tit_top">
                        {{ search.titol}}
                    </div>
                   
                    <div id="ies_img">
                        {% if  search.attachment!='aaa' %}
                                <img  width="310px" height="auto" src="{{search.path}}{{ search.attachment}}" />
                        {% endif %}
                    </div>
                    <div id="ies" class="comon imagenexterna">	
                    {{search.description|raw}}
                    </div>
                   
                   
                </div>
         </div>
              
              
            
    {% endfor %}
            
    <div class="pagerfanta" >
            {{knp_pagination_render(pagination)}}
    </div>
</div>	

	    	{% else %}
	    	 <p>No hem trobat el que volies</p>
	    	{% endif %}
    	</div>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       <script>		
				document.getElementById("sesuatu").value=window.localStorage.getItem('sesuatu');			
				
		</script>
                <script type="text/javascript">
$(window).load(function() {
    $('#co').masonry({
    // options
    itemSelector : '.item'
    });
});	
</script>
{% endblock %}
