{% extends 'AcmeStoreBundle::layout.html.twig' %}
{% block title %}MANAGE LIST  AGENDA{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="con_int">
    <span class="super">	
        LLISTAT APARADOR
    </span>
    <br>
    {% if pagination|length >0 %}
    <table class="table_admin">
        <tr>
            <th>Filtrar per: </th>
            <th><input class="filter" placeholder="titol" type="text" value="" id="titol" onblur="search(this.id,this.value)" /></th>
            <th><input class="filter" placeholder="Subtitol" type="text" id="subtitol" value="" onblur="search(this.id,this.value)" /></th>
        </tr>
         <tr>
            <th>Foto</th>
            <th>Data entrada</th>
            <th>Titol</th>
            <th>Subtitol</th>
            <th>Portada columna</th>
            <th>Data fi</th>
        </tr>
	{% for agenda in pagination %}
    			<tr>
			<td>
                        {% if  agenda.attachment!='aaa' %}
                             <img width="50px" src="{{path}}{{ agenda.attachment}}" /> 
                       {% endif %}	
			</td>
			<td width=100px;>
			{{ agenda.dataEntrada|date('Y-m-d')}}	
			</td>
			<td width=300px;>
			{{ agenda.titol}}	
			</td>
			<td width=300px;>
			{{ agenda.subtitol}}	
			</td>
			<td  width=900px;>
			 {{ agenda.portada}}	
			</td>
			<td  width=900px;>
			 {{ agenda.dataFi|date('Y-m-d')}}
			</td>
			<td width=30px;>
			<a href="{{ path('edit_agenda', {'id' : agenda.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/edit.png') }}" /> </a>	
			</td>
			<td>
			<a href="{{ path('delete_agenda', {'id' : agenda.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/delete.png') }}" /></a>	
			</td>
			</tr>
		{% endfor %}
    		</ul>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
</div>

    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
    
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       <script>
        function search(col,val){
                var path="{{pathlocal}}";
                window.localStorage.setItem('val_'+col,val);
                window.location.href=path+"/admin/secured/agenda/agenda_llistat/n."+col+" like .."+val+".,";
        }
        var titolval=window.localStorage.getItem('val_titol');
        var subtitolval=window.localStorage.getItem('val_subtitol');
        if(titolval!=null){
                document.getElementById('titol').value=titolval;
        }

        if(subtitolval!=null){
                        document.getElementById('subtitol').value=subtitolval;
        }
        </script>
{% endblock %}