{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}

{% block content %}
 <script type="text/javascript" src="{{ asset('bundles/acmestore/js/htmlbox.min.js') }}" ></script>
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    ació
    	<a href="{{ path('acme_store_homepage', {}) }}" >{% trans %}menu_admin{% endtrans %}</a>
    	<a href="{{ path('acme_pre_store_llibre', {}) }}" >{% trans %}new_book{% endtrans %}</a>
    	<a href="{{ path('llistat_store_llibre', {orderBy:'1=1 order by n.id asc'}) }}" >{% trans %}list_book{% endtrans %}</a>
    
    	{{ form_start(form) }} 
    		{{ form_errors(form) }}
    			<div class="form_date"> {{ form_label(form.date,'Data') }} 
    			      {{ form_errors(form.date) }} 
    			      {{ form_widget(form.date, {'attr': {'class': 'form_date'}}) }}
    			</div>
    			<div class="form_date"> {{ form_label(form.attachment,'Foto') }} 
    			      {{ form_errors(form.attachment) }} 
    			      {{ form_widget(form.attachment, {}) }}
    			</div>
    	{{ form_end(form) }}
    		<textarea cols="100" rows="30" id="mytextbox"></textarea>
    	{% if update == 1 %}
    	<script>
    	  document.getElementById("form_attachment").required="";
    	 
    	</script>
    	{% endif %}
    	<script>
    	 
    	  $(document).ready(function(){
    	  		
				var save_tool = {
						icon:"mail.png",tooltip:"Save",command:function(){send();}
						};
				var toolbar_1 =[save_tool,"separator","bold","italic","underline","fontsize","fontfamily","fontcolor","highlight","separator","undo","redo","left","right","center","justify","separator","image"];	
				var hb = $("#mytextbox").htmlbox({
					skin:"blue",
					toolbars:[toolbar_1],
					idir:"{{pathimg}}"
				});
				
			});
    	</script>
    	
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       
{% endblock %}
