{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}

{% block content %}

	
	<div class="con_int">
	<span class="super">	
    LLISTAT DE LLIBRES
	</span>
    <br>
    	{% if pagination|length >0 %}
	    <table class="table_admin">
			<tr>
				<th>Filtrar per: </th>
				<th><input placeholder="Nom" class="filter" type="text" value="" id="name" onblur="search(this.id,this.value)" /></th>
				
			</tr>
    		{% for llibre in pagination %}
			<tr>
			<td>
			<img width="100px" src="{{path}}{{ llibre.attachment}}" />
			</td>
			<td width=100px;>
			{{ llibre.dateEntrada|date('Y-m-d')}}	
			</td>
			<td width=300px;>
			{{ llibre.name}}	
			</td>
			<td width=300px;>
			{{ llibre.description}}
			</td>
			<td>
			{{ llibre.price}}	
			</td>
			<td width=30px;>
			<a href="{{ path('edit_llibre', {'id' : llibre.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/edit.png') }}" /> </a>	
			</td>
			<td>
			<a href="{{ path('delete_llibre', {'id' : llibre.id}) }}" ><img width="26px" src="{{ asset('bundles/acmestore/img/delete.png') }}" /></a>	
			</td>
			</tr>
		{% endfor %}
    		<tr>
    		<td>
    		
		</td>
		<td>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
		</td>
		</tr>
		</table>
    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
	</div>
	</div>
     
     
     
     
     
     
     	
   
    
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
        
              <script>
				function search(col,val){
					var path="{{pathlocal}}";
					window.localStorage.setItem('val_llib_'+col,val);
					window.location.href=path+"/admin/secured/llibre/llibre_llistat/n."+col+" like .."+val+".,";
				}
				var nameval=window.localStorage.getItem('val_llib_name');
				
				if(nameval!=null){
					document.getElementById('name').value=nameval;
				}
				
				
			</script>
       
{% endblock %}
