{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}

{% block content %}
  
 <script type="text/javascript" src="{{ asset('bundles/acmestore/js/tinymce.min.js') }}" ></script>
<script type="text/javascript">
tinymce.init({
          language : 'ca',
        selector: "textarea",
        plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
        ],

        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],

        templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
        ]
});</script>

  
  
  
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

	
	<div class="con_int">

    <span class="super">	
    CREAR NOVA NOTÍCIA
	</span><br>
    
    	{{ form_start(form) }} 
    	{{ form_errors(form) }}
	
	<div id="formol">
	<div id="left_for">
	    <div>
	      Titol<br>
	      {{ form_errors(form.titol) }} 
	      {{ form_widget(form.titol, {}) }}
	    </div>
	    <div>
	      Subtitol<br>
	      {{ form_errors(form.subtitol) }} 
	      {{ form_widget(form.subtitol, {}) }}
	    </div>
                 <div>
	     Video<br>
	      {{ form_errors(form.video) }} 
	      {{ form_widget(form.video, {}) }}
	    </div>
	    <div>
	     Descripció<br>
	      {{ form_errors(form.description) }} 
	      {{ form_widget(form.description, {}) }}
	    </div>
           
	    
	</div>
	<div id="rigth_for">
	  <div>
	      Data entrada<br>
	    {{ form_errors(form.date_entrada) }} 
	    {{ form_widget(form.date_entrada, {}) }}
	    </div>
	    <div id="foradelloc">
	      Data fi<br>
	    {{ form_errors(form.data_fi) }} 
	    {{ form_widget(form.data_fi, {}) }}
	    </div>
	    <div id="foradelloc">
	     Novetat<br>
	      {{ form_errors(form.novetat) }} 
	      {{ form_widget(form.novetat, {}) }}
	    </div>
	    <div>
	      Portada<br>
	      {{ form_errors(form.portada) }} 
	      {{ form_widget(form.portada, {}) }}
	    </div>
            
	    <div>
	      {{ form_errors(form.attachment) }} 
	      {{ form_widget(form.attachment, {}) }}
	    </div>
	    {{ form_end(form) }}
	    </div>
	  
	</div>
	
    	{% if update == 1 %}
    	
    	{% endif %}
	</div></div></div>
	<script>
    	 
    	  $(document).ready(function(){
    	  		
				 tinymce.init({selector:'textarea'});
				
			});
    	</script>
	
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       
{% endblock %}