{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}Llibreria 22@{% endblock %}

{% block content_header '' %}

{% block content %}
  
  <script type="text/javascript" src="{{ asset('bundles/acmestore/js/tinymce.min.js') }}" ></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>
  
  
  
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div class="content">
	<div class="tit">
   		LLIBRERIA 22 
		</div>
	</div>
	<div id="content">
   	<div id='cssmenu'>
	<ul>
	   <li class='has-sub'><a href="{{ path('llistat_store_noticia', {orderBy:'1=1 order by n.id asc'}) }}" >Notícies</a>
	      <ul>
		 <li class='last'><a href="{{ path('acme_pre_store_noticia', {}) }}" >{% trans %}enter_noticia{% endtrans %}</a></li>
	      </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_suggerencia', {orderBy:'1=1 order by n.id asc'}) }}" >Suggerències</a>
	    <ul>
		<li class='last'><a href="{{ path('acme_pre_store_suggerencia', {}) }}" >{% trans %}new_sugg{% endtrans %}</a></li>
	    </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_presentacio', {orderBy:'1=1 order by n.id asc'}) }}" >Presentació</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_presentacio', {}) }}" >{% trans %}enter_presentacio{% endtrans %}</a></li>
	   </ul>
	   
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_galeria', {orderBy:'1=1 order by n.id asc'}) }}" >Galeria</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_galeria', {}) }}" >{% trans %}enter_galeria{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li><a href="{{ path('acme_encarrecs', {}) }}" >Encarrecs</a></li>
	   <li><a href="{{ path('acme_pre_puja_txt', {}) }}" >Upload</a></li>
	   <li class='has-sub'><a href="{{ path('llistat_store_slider', {orderBy:'1=1 order by n.id asc'}) }}" >Slider</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_slider', {}) }}" >{% trans %}enter_slider{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li class='has-sub active'><a href="{{ path('llistat_store_llibre', {orderBy:'1=1 order by n.id asc'}) }}" >LLibres</a>
	   <ul>
		<li><a href="{{ path('acme_pre_store_llibre', {}) }}" >{% trans %}enter_llibre{% endtrans %}</a></li>
	   </ul>
	   </li>
	</ul>
	</div>
	
	<div class="con_int">

    <span class="super">	
    CREAR NOVA NOTÍCIA
	</span><br>
    
    	{{ form_start(form) }} 
    	{{ form_errors(form) }}
	
	<div id="formol">
	<div id="left_for">
	    <div>
	      Titol<br>
	      {{ form_errors(form.titol) }} 
	      {{ form_widget(form.titol, {}) }}
	    </div>
	    <div>
	      Subtitol<br>
	      {{ form_errors(form.subtitol) }} 
	      {{ form_widget(form.subtitol, {}) }}
	    </div>
	    <div>
	     Descripció<br>
	      {{ form_errors(form.description) }} 
	      {{ form_widget(form.description, {}) }}
	    </div>
	    
	</div>
	<div id="rigth_for">
	  <div>
	      Data entrada<br>
	    {{ form_errors(form.date_entrada) }} 
	    {{ form_widget(form.date_entrada, {}) }}
	    </div>
	    <div>
	      Data fi<br>
	    {{ form_errors(form.data_fi) }} 
	    {{ form_widget(form.data_fi, {}) }}
	    </div>
	    <div>
	     Novetat<br>
	      {{ form_errors(form.novetat) }} 
	      {{ form_widget(form.novetat, {}) }}
	    </div>
	    <div>
	      Portada<br>
	      {{ form_errors(form.portada) }} 
	      {{ form_widget(form.portada, {}) }}
	    </div>
	    <div>
	      {{ form_errors(form.attachment) }} 
	      {{ form_widget(form.attachment, {}) }}
	    </div>
	    {{ form_end(form) }}
	    </div>
	  
	</div>
	
    	{% if update == 1 %}
    	<script>
    	  document.getElementById("form_attachment").required="";
    	</script>
    	{% endif %}
	</div></div></div>
	<script>
    	 
    	  $(document).ready(function(){
    	  		
				 tinymce.init({selector:'textarea'});
				
			});
    	</script>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       
{% endblock %}
