{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}MANAGE LIST  NOTICIA{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
	
    <h1 class="title">Noticia  {% trans %}noticia_list_page{% endtrans %}</h1>
    	<a href="{{ path('acme_store_homepage', {}) }}" >{% trans %}menu_admin{% endtrans %}</a>
    	<a href="{{ path('acme_pre_store_noticia', {}) }}" >{% trans %}enter_noticia{% endtrans %}</a>
    	{% if pagination|length >0 %}
    		<ul>
    			<li>Titol: <input type="text" value="" id="titol" onblur="search(this.id,this.value)" />&nbsp; Subtitol: <input type="text" id="subtitol" value="" onblur="search(this.id,this.value)" /></li>
    		{% for noticia in pagination %}
    			<li>{{ noticia.titol}} {{ noticia.subtitol}}  {{ noticia.description}} {{ noticia.novetat}} {{ noticia.portada}} {{ noticia.dataFi|date('Y-m-d')}} {{ noticia.dataEntrada|date('Y-m-d')}} <img src="{{path}}{{ noticia.attachment}}" /> 	<a href="{{ path('edit_noticia', {'id' : noticia.id}) }}" >{% trans %}edit_noticia{% endtrans %}</a> <a href="{{ path('delete_noticia', {'id' : noticia.id}) }}" >{% trans %}delete_noticia{% endtrans %}</a></li> 
    		{% endfor %}
    		</ul>
    		<div class="pagerfanta" >
    			{{knp_pagination_render(pagination)}}
    		</div>
    	{% else %}
    	 <p>- There are no things </p>
    	{% endif %}
    
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       <script>
function search(col,val){
	var path="{{pathlocal}}";
	window.localStorage.setItem('val_'+col,val);
	window.location.href=path+"/admin/secured/noticia/noticia_llistat/n."+col+" like .."+val+".,";
}
var titolval=window.localStorage.getItem('val_titol');
var subtitolval=window.localStorage.getItem('val_subtitol');
if(titolval!=null){
	document.getElementById('titol').value=titolval;
}

if(subtitolval!=null){
	document.getElementById('subtitol').value=subtitolval;
}
</script>
{% endblock %}
