{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}MENU{% endblock %}

{% block content_header '' %}

{% block content %}	
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
	<div class="content">
	<div class="tit">
   		LLIBRERIA 22 
		</div>
	</div>
	<div id="content">
   		<div id="menu">
		<ul class="menu_admin">
    	<li><a href="{{ path('acme_llibre', {}) }}" >Llibres</a></li>
    	<li><a href="{{ path('acme_noticia', {}) }}" >Noticies</a></li>
    	<li><a href="{{ path('acme_agenda', {}) }}" >Agenda</a></li>
    	<li><a href="{{ path('acme_presentacio', {}) }}" >Presentacio</a></li>
    	<li><a href="{{ path('acme_galeria', {}) }}" >Galeria</a></li>
    	<li><a href="{{ path('acme_encarrecs', {}) }}" >Encarrecs</a></li>
    	<li><a href="{{ path('acme_pre_puja_txt', {}) }}" >Upload</a></li>
		<li ><a href="{{ path('acme_slider', {}) }}" >Slider</a></li>
        </ul>
        </div>
        {% if app.environment == 'dev' %}
           
        {% endif %}
       </div>
{% endblock %}