{% extends 'AcmeStoreBundle::layout.html.twig' %}

{% block title %}MENU{% endblock %}

{% block content_header '' %}

{% block content %}	
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
	<div class="content">
	<div class="tit">
   		LLIBRERIA 22 
		</div>
	</div>
	<div id="content">
   	<div id='cssmenu'>
	<ul>
	   <li class='has-sub'><a href="{{ path('llistat_store_noticia', {orderBy:'1=1 order by n.id asc'}) }}" >Noticies</a>
	      <ul>
		 <li class='last'><a href="{{ path('acme_pre_store_noticia', {}) }}" >{% trans %}enter_noticia{% endtrans %}</a></li>
	      </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_suggerencia', {orderBy:'1=1 order by n.id asc'}) }}" >Suggerències</a>
	    <ul>
		<li class='last'><a href="{{ path('acme_pre_store_suggerencia', {}) }}" >{% trans %}new_sugg{% endtrans %}</a></li>
	    </ul>
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_presentacio', {orderBy:'1=1 order by n.id asc'}) }}" >Presentació</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_presentacio', {}) }}" >{% trans %}enter_presentacio{% endtrans %}</a></li>
	   </ul>
	   
	   </li>
	   <li class='has-sub'><a href="{{ path('llistat_store_galeria', {orderBy:'1=1 order by n.id asc'}) }}" >Galeria</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_galeria', {}) }}" >{% trans %}enter_galeria{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li><a href="{{ path('acme_encarrecs', {}) }}" >Encarrecs</a></li>
	   <li><a href="{{ path('acme_pre_puja_txt', {}) }}" >Upload</a></li>
	   <li class='has-sub'><a href="{{ path('llistat_store_slider', {orderBy:'1=1 order by n.id asc'}) }}" >Slider</a>
	   <ul>
		<li class='last'><a href="{{ path('acme_pre_store_slider', {}) }}" >{% trans %}enter_slider{% endtrans %}</a></li>
	   </ul>
	   </li>
	   <li class='has-sub active'><a href="{{ path('llistat_store_llibre', {orderBy:'1=1 order by n.id asc'}) }}" >LLibres</a>
	   <ul>
		<li><a href="{{ path('acme_pre_store_llibre', {}) }}" >{% trans %}enter_llibre{% endtrans %}</a></li>
	   </ul>
	   </li>
	</ul>
	</div>
	</div>
        {% if app.environment == 'dev' %}
           
        {% endif %}
       
{% endblock %}