{% extends 'AcmeStoreBundle::layout.html.twig' %}
{% block title %}Llibreria 22@{% endblock %}
{% block content_header '' %}
{% block content %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<script type="text/javascript" src="{{ asset('bundles/acmestore/js/jquery.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/acmestore/js/ckeditor/ckeditor.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/acmestore/js/ckeditor/adapters/jquery.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/acmestore/js/global.js') }}" ></script>

 
	<div class="con_int">

    <span class="super">	
    CREAR NOU ESTABLIMENT
	</span><br>
    
    	{{ form_start(form) }} 
    	{{ form_errors(form) }}
	
	<div id="formol">
	<div id="left_for">
            <div>
            Text establiments<br><br><br>
            </div>
	    <div>
	      Titol<br>
	      {{ form_errors(form.titol) }} 
	      {{ form_widget(form.titol, {}) }}
	    </div>
	    <div>
	     Descripció<br>
	      {{ form_errors(form.description) }} 
	      {{ form_widget(form.description, {}) }}
	    </div>
	     <hr class="sep">
	</div>
               
	<div id="rigth_for">
	  
	   
	    {{ form_end(form) }}
	    </div>
	  
	</div>
	
	
	
	
    	{% if update == 1 %}
    	<script>
    	  document.getElementById("form_attachment").required="";
    	</script>
    	{% endif %}
	</div></div></div>
    	<script>
        
        $(document).ready(function(){
             $( 'textarea#form_description' ).ckeditor();
        });
        </script>
        {% if app.environment == 'dev' %}
           DEV
        {% endif %}
       
{% endblock %}
